body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0;
  font-size: 5.625em;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  width: 6%;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 10px;
}

table {
  margin: 0 auto;
  border-spacing: 30px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  margin-bottom: 80px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.intro {
  width: 30%;
  margin: 0 auto 100px;
}

.skill-title {
  margin-top: 80px;
}

.web-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.python-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.c-img {
  width: 25%;
  float:left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-title {
  margin-top: 80px;
}

.BUTTON_YSH {
  margin: 50px auto 100px;
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   height: 10px;
   line-height: 10px;
   color: #FFFFFF;
   font-family: Helvetica;
   width: 200px;
   font-size: 30px;
   font-weight: 100;
   padding: 30px;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_YSH:hover {
   border: solid #99C624 1px;
   background: #11369E;
   background-image: -webkit-linear-gradient(top, #11369E, #11859E);
   background-image: -moz-linear-gradient(top, #11369E, #11859E);
   background-image: -ms-linear-gradient(top, #11369E, #11859E);
   background-image: -o-linear-gradient(top, #11369E, #11859E);
   background-image: -webkit-gradient(to bottom, #11369E, #11859E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
}

.end-text {
  color: #EAF6F6;
}
